.container{
    font-family: Arial;
    padding: 10px;
}
th{
    text-align: left;
    background-color: lightgrey;
    padding: 15px;
}
td{
    padding: 10px;
    border-bottom: 1px lightgrey solid;
}
table{
    width: 100%;
    padding: 30px;
    border-collapse: collapse;
}
.profile{
    width: 30px;
    border-radius: 15px;
    margin-right: 10px;
}
.edit{
    width: 30px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.delete{
    width: 30px;
    cursor: pointer;
}

.button_add{
    margin-top: 10px;
    border:1px solid mediumblue;
    background-color: mediumblue;
    color:white;
    padding: 10px;
    border-radius: 5px;
}
.button_add:hover{
    background-color: white;
    color:black;
}
.backLink{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.backLink:hover{
    text-decoration: none;
}
.buttonSave{
    float: right;
}
.field{
    width: 100%;
    height: 30px;
}
.title{
    margin: 0;
    margin-bottom: 10px;
}
.string{
    margin: 10px 0;
}

